body{
    animation-name: example;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */

}

@-webkit-keyframes example {
    20%   {background-color:white; left:0px; top:0px;}
    30%   {background-color:white; left:0px; top:0px;}
    40%   {background-color:white; left:0px; top:0px;}
    5s0%   {background-color:white; left:0px; top:0px;}
    60%  {background-color:yellow; left:200px; top:0px;}
    70%  {background-color:blue; left:200px; top:200px;}
    80%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

